.nocomments {

    color: grey;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;


}

.commentListWrapper {

    display: flex;
    width: 90%;
    flex-direction: column;
}

.commentlist {

    height: 60vh;
    overflow-y: auto ;
}