.blogswrapper {

    margin:50px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;

}

.blog {

    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    padding: 16px;
    margin: 40px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog img {

    width: 300px;
    height: 300px;
    border-radius: 10px;

}

.blog h2 {

    text-align: left;
    margin: 15px 0px;
    background-color: transparent;
    color: white;

}

.blog:hover h2 {

    color: orangered;
}

.blog p {

    margin-top: 20px;
    font-weight: bold;
}
