.textinputwrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    font-size: 15px;

}

.textinputwrapper input {

    padding:18px 30px;
    margin:15px;
    outline: none;
    width: 30%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;

}

.errmsg {

    color: black;
    text-align: left;
    width:30%

}